<div class="header-container">
  <h1 class="header-h1"><i class="fa-solid fa-mask"></i> <strong>Choose your Supercoder</strong> <i class="fa-solid fa-mask"></i></h1>
</div>

<div class="grid-container">
  <div class="card-grid">
    <% @devs.each do |dev| %>
      <%= render partial: "dev-card", locals: { dev: dev } %>
    <% end %>
  </div>
</div>