.card-dev {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.card-dev img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.card-dev h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-decoration: none !important;
}

.card-dev p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-decoration: none !important;
}

.card-dev .card-dev-infos a:link {
  padding: 16px;
  text-decoration: none !important;
}

.flex-container {
  display: flex;
  flex-directon: row;
  text-decoration: underline;
  text-decoration-color: white;
}

a * {
  text-decoration: underline;
  text-decoration-color: white;
}
