
  <div class="header-container">
  <h1 class="header-h1"><i class="fa-solid fa-mask"></i> <strong>Your job postings</strong> <i class="fa-solid fa-mask"></i></h1>
</div>
<div class="container">
  <div class="cards">
    <% @jobs.each do |job| %>
      <div class="card-product">
        <div class="card-product-infos">
          <h3><%= job.title %></h3>
          <p class= "text"><%= job.description %></p>
        </div>
        </div>
    <% end %>

