<div class="container">
<h1>Job Offer</h1>
<%= simple_form_for([@dev, @job]) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= link_to "Send Job offer", dev_jobs_path(@dev), class: "btn-flat"%>
<% end %>
</div>
