<div class="container">
<h1>Job offer for <%= @job.dev.name %></h1>
<p><strong>Title: </strong> <%= @job.title %></p>
<p><strong>Description: </strong> <%= @job.description %></p>
<p><strong>Status: </strong> <%= @job.completed %></p>
</div>
