<div class="header-container">

  <h1><strong>Welcome to Supercoders</strong></h1>

  <%# <%= image_tag "logo.png", height: 300 %>
  <%# <%= image_tag "banner.png", height: 300 %>
  <div class="banner">
    <%= image_tag "banner.png", height: 600 %>
  </div>
  <br>
  <p>Find your next great software engineer! </p>


  <button class="btn-flat">Browse coders!</button>
  <button class="btn-flat">Login</button>
</div>
