.header-container {
  margin-bottom: 16px;
  text-shadow: gray;
  text-align: center;
  align-items: center;
  line-height: normal;
  font-size: 18px;
  color: #5e17eb;
}

i {
  color: #ff66c4;
  font-size: 45px;
}
