<div class="header-container">
  <h1 class="header-h1"><i class="fa-solid fa-mask"></i> <strong>Job review</strong> <i class="fa-solid fa-mask"></i></h1>
</div>
  <div class="cards">
    <% @jobs.each do |job| %>
      <div class="card-product">
        <div class="card-product-infos">
          <h3><%= job.title %></h3>
          <p class= "text"><%= job.description %></p>
          <%= link_to "Write review", new_job_review_path(job) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
